<div class="auth-component">
    <div class="txt-input">
        <input type="text" placeholder="Username" id="username"/>
    </div>
    <div class="txt-input">
        <input type="password" placeholder="Password" id="password"/>
    </div>
    <div class="txt-input">
        <button class="btn" onclick="signIn()">Sign In</button>
    </div>
</div>